.result-card {
  text-align: center;
  max-width: 250px;
  max-height: 500px;
  min-width: 250px;
  min-height: 400px;
  /* outline: 8px solid rgb(150, 150, 150); */
}

.result-image {
  max-width: 200px;
  max-height: 300px;
  min-height: 300px;
  min-width: 200px;
}

.details-card {
  text-align: center
}

.details-image{
  max-width: 400px;
  max-height: 600px;
  min-height: 600px;
  min-width: 400px;
}

.result-page{
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 20px;
    outline: 8px solid rgb(150, 150, 150);
}

.search-bar{
  padding: 5px;
}
